.groupChild {
  position: absolute;
  top: 50.11px;
  right: -400.89px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.4), transparent);
  width: 100vw;
  height: 100vh;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.groupItem {
  width: 100vw;
}
.rectangleParent {
  position: absolute;
  width: 100vw;
  height: 100%;
}
.groupItem {
  top: 0;
  left: 0;
  object-fit: cover;
}
.rectangleParent {
  top: 361px;
  right: 0;
}
.landingChild {
  position: absolute;
  top: 174px;
  left: 63px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  filter: blur(150px);
  width: 248px;
  height: 263px;
}
.icon {
  position: absolute;
  top: 156px;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 265px;
  object-fit: cover;
}
.mapBase2Icon {
  top: 516px;
  left: 0;
  width: 100;
  height: 296px;
  overflow: hidden;
  opacity: 0.8;
}
.b,
.landingItem,
.mapBase2Icon {
  position: absolute;
}
.landingItem {
  top: 505px;
  left: 0;
  border-radius: var(--br-31xl);
  width: 375px;
  height: 242px;
}
.b {
  top: 608px;
  left: 98px;
  letter-spacing: -0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 28px;
}
.eatIt {
  margin: 0;
  font-weight: 900;
}
.it {
  margin: 0;
  font-size: var(--font-size-base);
}
.eatItItContainer {
  position: absolute;
  top: 428px;
  left: calc(50% - 45.5px);
  line-height: 25px;
  font-size: 28px;
}
.landing {
  position: relative;
  background-color: var(--color-navy);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-pretendard);
}


.thumnail {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 20px 0;
}

.nickname {
  color: hsla(0,0%,100%,.6);
  margin: 20px 0 40px 0;
}

/* .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px;
  width: 80%;
  max-width: 240px;
  height: 45px;
  border-radius: 6px;
  background-color: #0ebb8d;
  color: #000000;
  cursor: pointer;
} */

