
.span {
  font-weight: 300;
  font-family: var(--font-noto-sans-kr);
}
.p {
  margin: 0;
}
.b,
.groupChild {
  position: absolute;
}
.b {
  top: 65px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.28px;
  text-align: left;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  width: 161px;
  height: 52px;
}
.click {
  position: absolute;
  top: 12px;
  left: 53px;
  font-weight: 800;
}
.rectangleParent {
  position: absolute;
  top: 612px;
  left: 113px;
  width: 161px;
  height: 52px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}
.iconBriefcase {
  position: relative;
  width: 24px;
  height: 24px;
}
.job {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 18px;
  font-weight: 500;
}
.navigationmenuHome,
.navigationmenuHome1 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base-5) var(--padding-lgi);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.navigationmenuHome1 {
  width: 62px;
  padding: 15.5px var(--padding-3xs) 15.5px var(--padding-6xl);
  box-sizing: border-box;
}
.navigationmenuLeft {
  width: 137px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  z-index: 0;
}
.iconMessages2 {
  position: relative;
  width: 24px;
  height: 24.01px;
}
.community {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 73px;
}
.navigationmenuHome2,
.navigationmenuHome3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.navigationmenuHome2 {
  width: 77px;
  padding: 15.5px var(--padding-smi);
  box-sizing: border-box;
}
.navigationmenuHome3 {
  padding: 15.5px var(--padding-lg);
}
.navigationmenuRight {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.homeWrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 22px);
  border-radius: var(--br-6xs);
  background-color: var(--color-blueviolet);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.navigationmenuHome4 {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: calc(50% - 22.5px);
  width: 44px;
  height: 44px;
  z-index: 2;
}
.navigationmenuLeftParent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-42xl);
}
.menu1homelight {
  position: fixed;
  top: 721px;
  /* left: ; */
  background-color: var(--color-white);
  width: 100vw;
  height: 150px;
  text-align: center;
  font-size: var(--font-size-xs);       
  color: var(--color-lightsteelblue);
  font-family: var(--font-sf-pro-text);
}


.image9Icon {
  position: relative;
  width: 100vw;
  height: 375px;
  object-fit: cover;
}
.cardnews {
  object-fit: cover;
  height: 50vh;
  width: 100vw;
  gap: 20vw;
}
.article {
  word-break: normal;
  width: 100vw;
  font-size: 20px;
  margin-top: 3vh;
  margin-bottom: 5vh;
}



.frameChild {
  position: absolute;
  top: 385px;
  left: 160px;
  width: 54px;
  height: 9.89px;
}
.frameInner,
.frameItem,
.groupIcon {
  position: absolute;
  top: 385px;
  left: 551px;
  width: 54.85px;
  height: 10.13px;
}
.frameInner,
.groupIcon {
  left: 956px;
  width: 52px;
  height: 9.89px;
}
.groupIcon {
  left: 1343px;
  height: 10.13px;
}
.frameChild1,
.frameChild2 {
  position: absolute;
  top: 394.89px;
  left: 3738px;
  width: 54px;
  height: 9.89px;
}
.frameChild2 {
  left: 3342px;
}
.cardnewsParent ,
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6 {
  position: absolute;
  top: 394.89px;
  left: 2951px;
  width: 54px;
  height: 9.89px;
}
.frameChild4,
.frameChild5,
.frameChild6 {
  left: 2560px;
}
.frameChild5,
.frameChild6 {
  left: 2169px;
}
.frameChild6 {
  left: 1778px;
}

/* 부모 */
.cardnewsParent {
  top: 160px;
  left: 0;
  width: 150vw;
  overflow-x: auto;
  overflow-y: unset;
  height: 50vh ;
  display: flex;
  flex-direction: row;
}

.boldText {
  font-weight: bold;
}
.news {
  position: fixed;
  background: var(--color-navy);
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
