.div {
  position: absolute;
  top: 571px;
  left: 130px;
  letter-spacing: -0.28px;
  font-weight: 300;
  color: var(--color-gray-200);
}
.p {
  margin: 0;
}
.b,
.groupChild {
  position: absolute;
}
.b {
  top: 65px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.28px;
  text-align: left;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #418dff, #003789);
  width: 161px;
  height: 52px;
}
.click {
  position: absolute;
  top: 12px;
  left: 53px;
  font-weight: 800;
}
.rectangleParent {
  position: absolute;
  top: 612px;
  left: 113px;
  width: 161px;
  height: 52px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}
.iconBriefcase {
  position: relative;
  width: 24px;
  height: 24px;
}
.job {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 18px;
  font-weight: 500;
}
.navigationmenuHome,
.navigationmenuHome1 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base-5) var(--padding-lgi);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.navigationmenuHome1 {
  width: 62px;
  padding: 15.5px var(--padding-3xs) 15.5px var(--padding-6xl);
  box-sizing: border-box;
}
.navigationmenuLeft {
  width: 137px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  z-index: 0;
}
.iconMessages2 {
  position: relative;
  width: 24px;
  height: 24.01px;
}
.community {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 73px;
}
.navigationmenuHome2,
.navigationmenuHome3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.navigationmenuHome2 {
  width: 77px;
  padding: 15.5px var(--padding-smi);
  box-sizing: border-box;
}
.navigationmenuHome3 {
  padding: 15.5px var(--padding-lg);
}
.navigationmenuRight {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.homeWrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 22px);
  border-radius: var(--br-6xs);
  background-color: var(--color-blueviolet);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.navigationmenuHome4 {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: calc(50% - 22.5px);
  width: 44px;
  height: 44px;
  z-index: 2;
}
.navigationmenuLeftParent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-42xl);
}
.menu1homelight {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 375px;
  height: 91px;
  color: var(--color-lightsteelblue);
  font-family: var(--font-sf-pro-text);
}
.homeIndicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-black);
  width: 133px;
  height: 5px;
}
.homeBarmini {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 34px;
}
.image9Icon {
  position: relative;
  width: 375px;
  height: 375px;
  object-fit: cover;
}
.cardnews {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameChild {
  position: absolute;
  top: 385px;
  left: 160px;
  width: 54px;
  height: 9.89px;
}
.frameInner,
.frameItem,
.groupIcon {
  position: absolute;
  top: 385px;
  left: 551px;
  width: 54.85px;
  height: 10.13px;
}
.frameInner,
.groupIcon {
  left: 956px;
  width: 52px;
  height: 9.89px;
}
.groupIcon {
  left: 1343px;
  height: 10.13px;
}
.frameChild1,
.frameChild2 {
  position: absolute;
  top: 394.89px;
  left: 3738px;
  width: 54px;
  height: 9.89px;
}
.frameChild2 {
  left: 3342px;
}
.cardnewsParent,
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6 {
  position: absolute;
  top: 394.89px;
  left: 2951px;
  width: 54px;
  height: 9.89px;
}
.cardnewsParent,
.frameChild4,
.frameChild5,
.frameChild6 {
  left: 2560px;
}
.cardnewsParent,
.frameChild5,
.frameChild6 {
  left: 2169px;
}
.cardnewsParent,
.frameChild6 {
  left: 1778px;
}
.cardnewsParent {
  top: 160px;
  left: 0;
  width: 391px;
  height: 412px;
  overflow-x: auto;
}
.news {
  position: relative;
  background: linear-gradient(180deg, #83a4d4, #b6fbff);
  width: 100%;
  height: 812px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
